body {
    margin: 0;
    padding: 0;
    background-color: #000;
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-thumb {
    background-color: #555;
    border-radius: 3px;
}

input::placeholder {
    color: #888;
}

button {
    outline: none;
}

.flex.space-x-2 button {
    white-space: nowrap;
}
